# <font color='CC3D3D'> Data Check
    
### 1. Data Check
- 주어진 <span style="color:green">**user_spec.csv, loan_result.csv, log_data.csv**</span>에 대해 기본적인 정포 파악

# Import

In [1]:
import pandas as pd

# Data Load

In [2]:
data_root = '../Data/2022빅콘테스트_데이터분석리그_데이터분석분야_퓨처스부문_데이터셋_220908'

In [3]:
df1 = pd.read_csv(data_root+'/user_spec.csv')
df2 = pd.read_csv(data_root+'/loan_result.csv')
df3 = pd.read_csv(data_root+'/log_data.csv')

# Data Check

## User_spec

In [4]:
print(df1.shape)
display(df1.head())

(1394216, 17)

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,1249046,118218,1985.0,1.0,2022-06-07 06:28:18,660.0,108000000.0,PRIVATEBUSINESS,20151101.0,기타,자가,1000000.0,기타,0.0,NaN,4.0,162000000.0
1,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,NaN,1.0,27000000.0
2,137274,59516,1997.0,1.0,2022-06-07 21:40:22,710.0,30000000.0,FREELANCER,20210901.0,기타,기타가족소유,10000000.0,생활비,0.0,NaN,5.0,15000000.0
3,1570936,167320,1989.0,1.0,2022-06-07 09:40:27,820.0,62000000.0,EARNEDINCOME,20170101.0,정규직,자가,2000000.0,생활비,0.0,NaN,7.0,344000000.0
4,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0

In [5]:
df1.isna().sum()

application_id                               0
user_id                                      0
birth_year                               12961
gender                                   12961
insert_time                                  0
credit_score                            105115
yearly_income                               90
income_type                                 85
company_enter_month                     171760
employment_type                             85
houseown_type                               85
desired_amount                              85
purpose                                     85
personal_rehabilitation_yn              587461
personal_rehabilitation_complete_yn    1203354
existing_loan_cnt                       198556
existing_loan_amt                       313774
dtype: int64

In [6]:
df1.application_id.nunique()

1394216

In [7]:
df1.user_id.nunique()

405213

In [8]:
df1.gender.nunique()

2

In [9]:
df1.insert_time.max()

'2022-06-30 23:58:29'

In [10]:
df1.insert_time.min()

'2022-03-01 00:11:35'

In [11]:
df1.credit_score.nunique()

91

In [12]:
df1.credit_score.max()

1000.0

In [13]:
df1.credit_score.min()

60.0

In [14]:
df1.yearly_income.min()

0.0

In [15]:
df1.income_type.unique()

array(['PRIVATEBUSINESS', 'FREELANCER', 'EARNEDINCOME', 'OTHERINCOME',
       'EARNEDINCOME2', 'PRACTITIONER', nan], dtype=object)

In [16]:
df1.employment_type.unique()

array(['기타', '정규직', '계약직', '일용직', nan], dtype=object)

In [17]:
df1.houseown_type.unique()

array(['자가', '기타가족소유', '전월세', '배우자', nan], dtype=object)

In [18]:
df1.desired_amount.min()

0.0

In [19]:
df1.purpose.unique()

array(['기타', '대환대출', '생활비', '사업자금', '주택구입', '전월세보증금', '투자', 'LIVING',
       'SWITCHLOAN', 'ETC', 'INVEST', '자동차구입', 'BUSINESS', 'BUYCAR', nan,
       'HOUSEDEPOSIT', 'BUYHOUSE'], dtype=object)

In [20]:
df1.personal_rehabilitation_yn.nunique()

2

In [21]:
df1.existing_loan_cnt.nunique()

100

In [22]:
df1.existing_loan_cnt.unique()

array([  4.,   1.,   5.,   7.,  nan,   3.,   2.,  10.,   6.,   8.,  14.,
         9.,  15.,  12.,  11.,  22.,  13.,  21.,  32.,  44.,  23.,  16.,
        17.,  18.,  25.,  70.,  20.,  24.,  76.,  50.,  27.,  35.,  48.,
        19.,  40.,  38.,  29.,  79.,  41.,  33.,  31.,  84.,  45.,  37.,
        26.,  30.,  28.,  43.,  34.,  97., 109.,  39.,  58.,  65.,  42.,
        86., 103.,  60.,  63.,  59.,  55.,  46., 102., 178.,  53.,  36.,
        51.,  54., 131.,  47.,  49., 157.,  89.,  52.,  62.,  57.,  56.,
        66.,  74., 117., 107.,  61., 125.,  69.,  96.,  77.,  75., 142.,
        85., 229.,  81., 278., 176.,  72., 128.,  73., 106.,  67.,  71.,
       169., 156.])

In [23]:
df1.existing_loan_amt.max()

7512000000.0

In [24]:
df1.existing_loan_amt.min()

0.0

## Loan_result

In [25]:
print(df2.shape)
display(df2.head())

(13527363, 7)

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN

In [26]:
df2.isna().sum()

application_id                 0
loanapply_insert_time          0
bank_id                        0
product_id                     0
loan_limit                  7495
loan_rate                   7495
is_applied               3257239
dtype: int64

In [27]:
df2.bank_id.nunique()

63

In [28]:
df2.bank_id.unique()

array([ 7, 25,  2,  4, 11, 35, 44, 28, 47, 58, 59, 34, 10, 63, 54, 49, 57,
       31, 52, 33, 37, 42, 51, 29, 19, 17, 15, 55, 61, 14, 38, 13, 21, 64,
        1, 12, 36, 60, 24,  3, 30,  8, 32, 62, 22, 26, 40, 23, 27, 46, 43,
       20, 50,  9,  6,  5, 45, 18, 39, 41, 48, 56, 16], dtype=int64)

In [29]:
df2.loanapply_insert_time.max()

'2022-06-30 23:55:00'

In [30]:
df2.loanapply_insert_time.min()

'2022-03-01 00:11:36'

In [31]:
df2.product_id.nunique()

188

In [32]:
df2.loan_limit.max()

230800000000.0

In [33]:
df2.loan_limit.min()

0.0

In [34]:
df2.loan_rate.nunique()

173

In [35]:
df2.loan_rate.max()

20.0

In [36]:
df2.loan_rate.min()

1.5

In [37]:
df2.is_applied.nunique()

2

## Log_Data

In [38]:
print(df3.shape)
display(df3.head())

(17843993, 6)

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.6.1,2022-03-25
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.6.1,2022-03-25

In [39]:
df3.isna().sum()

user_id                0
event                  0
timestamp              0
mp_os                980
mp_app_version    660597
date_cd                0
dtype: int64