# <font color='CC3D3D'> 0.1 External Data Collection
    
- 일별 KOSPI 지수 크롤링
- **KO**rea Composite **S**tock **P**rice **I**ndex의 약어로 우리나라의 주가 동향을 대표하는 Index  
- 증권 거래소에 상장된 종목들의 주식 가격을 종합적으로 표시한 수치로 시장 전체의 주가 움직임을 이해할 수 있는 지표
- 1981년부터 2022년 데이터까지 수집한 데이터라 2022년 2월 28일 이전의 데이터는 CSV에서 제거
	- <span style="color:blue"> **Kospi_Index.csv** </span> 생성

## Import

In [1]:
import FinanceDataReader as fdr
import pandas as pd

In [2]:
fdr.__version__

'0.9.42'

Close : 종가  
Open : 시가  
High : 고가  
Low : 저가  
Volume : 거래량  
Change : 등락률(전일대비 등락률)  
➡️ 등락률 = (현재 종가 - 전일 종가) / 전일종가

## Data Load

In [3]:
# 존재하는 첫 시점부터 마지막으로 장이 끝난 시점까지의 지수 데이터 다운로드

kospi = fdr.DataReader('KS11')

In [4]:
kospi.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11050 entries, 1981-05-01 to 2022-10-12
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   11050 non-null  float64
 1   Open    11050 non-null  float64
 2   High    11050 non-null  float64
 3   Low     11050 non-null  float64
 4   Volume  11050 non-null  float64
 5   Change  11050 non-null  float64
dtypes: float64(6)
memory usage: 604.3 KB

In [5]:
kospi.head()

            Close   Open   High    Low     Volume  Change
Date
1981-05-01  123.6  123.6  123.6  123.6  3330000.0  0.0098
1981-05-02  123.5  123.5  123.5  123.5  2040000.0 -0.0008
1981-05-04  120.6  120.6  120.6  120.6  1930000.0 -0.0235
1981-05-06  120.7  120.7  120.7  120.7  1690000.0  0.0008
1981-05-07  119.3  119.3  119.3  119.3  1480000.0 -0.0116

In [6]:
kospi.tail()

              Close     Open     High      Low       Volume  Change
Date
2022-10-05  2215.22  2248.85  2253.93  2204.03  855790000.0  0.0026
2022-10-06  2237.86  2230.43  2250.87  2223.36  643010000.0  0.0102
2022-10-07  2232.84  2217.84  2245.88  2215.08  428680000.0 -0.0022
2022-10-11  2192.07  2193.02  2193.05  2174.06  859510000.0 -0.0183
2022-10-12  2202.47  2191.35  2205.02  2181.65     658350.0  0.0047

# Deployment CSV

In [7]:
# 2022-02-22 일부터 선정
kospi.to_csv('../Data/Kospi_Index.csv')

- 수집한 데이터가 1981년부터 2022년 데이터까지 수집한 데이터를 CSV에서 제거