# <font color='CC3D3D'> 0.6_5 UnderSampling Train Test Split
    
- **master_train_data.csv** 중 30%만 랜덤하게 뽑아서 95:5 비율로 undersampling (0 : 1 = 2,039,032 : 117,670)
- 그 중 80%를 랜덤하게 뽑아서 Train으로 설정 (0 : 1 = 1,631,225 : 94,136)
    - <span style="color:blue"> **master_train_undersample.csv** </span> 생성
- 그 중 20%를 랜덤하게 뽑아서 Test으로 설정 (0 : 1 = 407,807 : 23,534)
    - <span style="color:blue"> **master_test_undersample.csv** </span> 생성

# Import

In [2]:
import numpy as np

import pandas as pd

from sklearn.model_selection import train_test_split

# Data Load

In [51]:
master_train = pd.read_csv('../Data/master_train_data.csv')

In [52]:
master_train

,loan_limit,loan_rate,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,...,loan_rate_max_x,bank_label,loan_limit_min_y,loan_rate_min_y,loan_limit_max_y,loan_rate_max_y,loan_limit_mean_y,loan_rate_mean_y,product_label,is_applied
0,1000000.0,19.9,580.0,48000000.0,0,3,3,40000000.0,6,0.0,...,19.9,2,0.0,5.1,50000000.0,19.9,9.964073e+06,14.619314,0,0.0
1,13000000.0,7.0,690.0,22000000.0,0,0,3,20000000.0,0,0.0,...,15.5,1,3000000.0,6.7,20000000.0,7.5,1.180752e+07,7.192589,1,0.0
2,3000000.0,12.5,630.0,36000000.0,0,3,3,20000000.0,6,0.0,...,19.7,2,1000000.0,4.7,50000000.0,18.0,1.058262e+07,10.968330,0,0.0
3,2000000.0,16.8,650.0,24000000.0,0,3,3,2000000.0,6,0.0,...,19.9,2,1000000.0,1.5,45000000.0,19.9,1.588165e+07,16.255103,0,1.0
4,36000000.0,10.8,940.0,45000000.0,0,3,0,40000000.0,7,0.0,...,19.9,2,3000000.0,6.8,100000000.0,19.7,3.614451e+07,13.070143,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7189002,25000000.0,13.2,634.0,32000000.0,0,3,3,30000000.0,6,0.0,...,19.9,2,3000000.0,6.5,50000000.0,19.9,2.166379e+07,11.314804,0,0.0
7189003,80000000.0,12.4,950.0,110000000.0,0,3,3,100000000.0,6,0.0,...,19.5,2,3000000.0,5.9,100000000.0,17.8,5.106188e+07,13.457978,0,0.0
7189004,25000000.0,11.8,590.0,67000000.0,0,0,3,30000000.0,6,0.0,...,16.8,2,0.0,7.7,80000000.0,16.8,2.631792e+07,12.278177,0,0.0
7189005,26000000.0,11.2,950.0,30000000.0,0,3,3,10000000.0,7,0.0,...,19.9,2,1000000.0,6.6,35000000.0,18.4,1.064556e+07,12.028956,0,0.0
7189006,21000000.0,13.5,710.0,26000000.0,0,3,3,50000000.0,7,0.0,...,19.1,2,5000000.0,5.9,80000000.0,19.1,2.617632e+07,13.494089,0,0.0

# Undersampling

In [53]:
train = master_train.drop('is_applied', axis=1)
target = master_train.is_applied

In [54]:
X_train, X_valid, y_train, y_valid = train_test_split(train, target, test_size=0.7, 
                                                      random_state=42, shuffle=True, stratify=target)

In [55]:
y_train.value_counts()

0.0    2039032
1.0     117670
Name: is_applied, dtype: int64

In [56]:
y_valid.value_counts()

0.0    4757740
1.0     274565
Name: is_applied, dtype: int64

In [57]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, 
                                                      random_state=42, shuffle=True, stratify=y_train)

In [58]:
y_train.value_counts()

0.0    1631225
1.0      94136
Name: is_applied, dtype: int64

In [59]:
1631225/(1631225 + 94136)

0.9454398238977234

In [60]:
y_valid.value_counts()

0.0    407807
1.0     23534
Name: is_applied, dtype: int64

In [61]:
train_undersample = pd.concat([X_train, y_train], axis=1)
test_undersample = pd.concat([X_valid, y_valid], axis=1)

## Deployment

In [62]:
train_undersample.to_csv('../Data/master_train_undersample.csv', index=False)
test_undersample.to_csv('../Data/master_test_undersample.csv', index=False)